    body {
      font-family: 'Overpass', Sans-Serif;
    }

    p {
      margin-bottom: 10px;
    }

    .title, .subtitle {
      font-family: 'Permanent Marker', Cursive;
    }

    .big {
      font-size: 2em;
    }

    .medium {
      font-size: 32px;
    }

    .pop {

      background-color: #eeeeee;
      box-shadow: 3px 3px #aaa;
      margin-right: 30px;
    }

    .image-container {
      float: right;
      padding: 0px 20px 20px 20px;
    }
    .project .title {
      text-align: center;
      padding-top: 40px;
      font-weight: bold;
      font-size: 1em;
    }

    .project-description {
      margin-bottom: 20px;
    }

    .fullwidth-video {
      overflow:hidden;
      padding-bottom:62.25%;
      position:relative;
      height:0;    
      max-width: 100%;
      margin-bottom: 20px;
    }

    .fullwidth-video iframe, .fullwidth-video object, .fullwidth-video embed {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
@media only screen and (min-width: 776px) {
  #mobile-project-grid {
    display:none;
  }
  #menu-toggle, #mobile-menu {
    display: none;
  }
  #footer {
    display: none;
  }
  #mobile-unity {
    display: none;
  }
  #fullscreen {
    position: absolute;
    top: 10px;
    right: 70px;
    color: #ffffff;
  }
  #unity {
    position: relative
  }
}
  
  @media only screen and (max-width: 775px) {
    .project .title {
      padding-top: 0px;
      min-height: 75px;
    }

    #links, #projects, .pop {
      display: none;
    }

    .headshot {
      display: none;
    }

    #logo-canvas {
      text-align:center; 
    }

    #menu-toggle {
      display:none;
/*
      font-size: 23px;
      font-weight: bold;
      position: absolute;
      right: 0px;
      background: #eee;
      padding: 10px;
      top: 0px;
  */
    }

    .menu-toggle {
      font-size: 23px;
    font-weight: bold;
    position: absolute;
    right: 50px;
    background: #eee;
    padding: 10px;
    top: 115px;
    }
    #mobile-menu {
      text-align: center;
      display:none;
    }
    
    #mobile-unity {
      display: block;
    }
    
    #footer {
        display: block;
        text-align: center;
        padding: 20px;
        word-spacing: 20px;
    }

    #fullscreen {
      display: none;
    }
}